.App {
  text-align: center;
}

.btn-primary {
  color: goldenrod;
  background-color: rgb(213, 241, 241);
  border-color: #222774
}

.btn-primary:hover {
  color: #212529;
  background-color: #52bebe;
  border-color: #8ad3d3
}

body {
  background: linear-gradient(to bottom, #55678b 0%, #dfd6a3 100%);
  /* background-image: url('Images/ElectCar.jpg'); */
  /* background-repeat: no-repeat; */
  background-size: cover;
  height: 100%;
  width: 100%;
}

.category-bg-1 {
  background-color: #516077;
  background-image: url('Images/BMWi3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-left: .5%;
}
.category-bg-2 {
  background-color: #516077;
  background-image: url('Images/Chevy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-left: .5%;
  margin-top: 5%;
}
.category-bg-3 {
  background-color: #516077;
  background-image: url('Images/Kia.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-left: .3%;
}
.category-bg-4 {
  background-color: #516077;
  background-image: url('Images/nissan.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-left: .3%;
}
.category-bg-5 {
  background-color: #516077;
  background-image: url('Images/ElectCar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-left: .3%;
}

.Carphoto {
  background-repeat: no-repeat;
  width: 90%;
  height: 90%;
  opacity: .3;
  margin-left: 5%;
  }

.absolute {
  position: absolute;
  max-width: 300px;
}
.form-container {
  background-color: rgba(255,255,255,0.8);
  padding: 20px;
  border-radius: 50px;
  margin-top: 55px;
}

.pointer {
  cursor: pointer;
}

.transparent-background {
  background-color: rgba(255,255,255,0.7);
}

.dashborad-wrapper {
  margin-top: 100px;
}

.selected {
  background-color: rgba(128,104,189,0.8);
  color: #FFFFFF;
}


.relative {
  position: relative;
}

.modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.6); 
}
.answer-modal {
  z-index: 1;
}
.modal-content {
  max-height: 800px;;
  overflow-y: scroll;
}
.break-word {
  word-wrap: break-word;
}


@media only screen and (max-width: 650px) {
  .absolute {
    max-width: 240px;
    font-size: 12px;
  }
}